<mat-sidenav-container class="menu">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/login">
                Login
            </a>
            <a mat-list-item routerLink="/cadastrarpet">
                Novo Pet
            </a>
            <a mat-list-item routerLink="/meuspets">
                Meus Pets
            </a>
            <a mat-list-item routerLink="/pets">
                Todos os Pets
            </a>
            <a mat-list-item routerLink="/cidade">
                Pets na região
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>