<mat-card>
    <mat-card-title>Dados do seu pet</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça" name="raca">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" name="idade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Peso" name="peso">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" name="cidade">
        </mat-form-field>   
    </form>
    <button mat-button color="primary">
        Salvar
    </button>
    <button mat-button color="primary">
        Cancelar
    </button>
</mat-card>
